.button{
    -fx-background-color: #6F5CC2;
}

.button:hover {
    -fx-background-color: #7156DD;

}

.button:pressed {
    -fx-background-color: #9386cc;
}
/*

.button:focused {
    -fx-background-color: #8f80de;
    -fx-border-color: #CDD1D6;
    -fx-border-width: 0px, 0px, 0px, 3px;
}

 */

